body {
    overflow-x: hidden;
}

.jumbotron {
    padding-top: 50px;
}

.image {
    width: 600px;
}

.nama {
    padding-top: 150px;
    font-style: italic;
    color: blue;
}

h2 {
    margin: 25px auto;
}

.content {
    padding-top: 55px;
}

.form-grup {
    margin-top: 15px;
}

label {
    margin-bottom: 15px;
}

